
    <!--Add Striped Border-->
        <br><h2 class="striped-border"></h2><br>
        <section class = "container">
            <div class="column col-9">
                <div class="classes">
                    {{!-- <div class = "card"> --}}
                        <h3 class= "card-title">Course Title
                        {{Course.course_title}}
                        </h3>
                        <div class = "card-content">
                            Description: {{Course.description}}
                            <br>
                            Locations: {{location_id}}
                            <br>
                            Ages: {{age_id}}
                            <br>
                            <a href="{{url}}">View Website</a>
                            </div>
                    </div>
                {{!-- </div> --}}
            </div>
    </section>
    <br>
    <!--Add Striped Border-->
    <h2 class="striped-border"></h2>